/*
Colors used:
Primary Color (Pink): #E31676;
Nuetral Darkest (Blackish): #202020;
Nuetral Dark (Dark Gray): #3F3F3F;
Nuetral Medium (Medium Gray): #707070;
Nuetral Light (White): #FFFFFF;
*/
body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #3F3F3F;
}

h1, h2, h3, h4 {
  line-height: 1.3;
  font-weight: 700;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

img {
  width: 100%;
}

a {
  color: #E31676;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #FF81BC;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:focus {
  color: #FF419A;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #FF419A;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #E31676;
  color: #FFFFFF;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 12px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #E31676;
  text-transform: uppercase;
  border: 2px solid #E31676;
}

.button.contact:hover {
  background-color: #E31676;
  color: #ffffff;
}
